main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    /* grid-template: ; */
}

app-square{
    border: 1px gray solid;
    /* height: 200px; */
    aspect-ratio: 1;
    line-height: 0;
}

